/*Colors Used: dark blue 3565B0
				grey blue ACC2E3
				teal 56BCEB
				*/


/* 
CSS Mini Reset
http://www.vcarrer.com/2010/05/css-mini-reset.html
CSSresetr.com
*/
html, body, div, form, fieldset, legend, label
{
 margin: 0;
 padding: 0; 
}

table
{
 border-collapse: collapse;
 border-spacing: 0;
}

th, td
{
 text-align: left;
 vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }

img { border: 0; }				
/*      Main CSS     */





body {
	width: 960px;
	height:600px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #56BCEB;
	margin: 0 auto;
	padding: 0;
	font-size: 0.75em;
}
#container {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}
header {
	width: 100%;
}
#maincontent {
	background-color: #56BCEB;
	width: 95%;
	margin: 0 auto;
	height:auto;
}
#logo {
	float: left;
}
header h1 {
	float: right;
	width: 60%;
	font-family: 'Courgette', cursive;
	font-size: 2em;
	text-align: right;
}
h1, h2, h3, h4, h5, h6 {
	font-family:'Courgette', cursive;
}
/*                      global nav css        */



nav {
	float: right;
	width: 95%;
	margin-right: -13%;
}
nav li {
	display: inline-block;
	font-size: 1.75em;
	text-align: right;
	margin-left: 1%;
}

nav a{text-decoration:none;
color:#000;}

nav a:active{color:#04871A;}

nav a:hover{font-style:italic;
font-weight:bold;
color:#04871A;}

nav a:visited{color:#184BCA;}

/*               end of global nav       */


/*                main content css        */
#maincontent {
	clear: both;
	padding:0 1%;
}

#choir{
	width:100%;
}

#columns{clear:both;}

.schedule, .mission{
	background-color:#ACC2E3;
	height:170px;
	width:45%;
border:solid thin #000;
padding:1%;
}


.schedule li{list-style-type:none;}

p{text-align:justify;}

.left{float:left;}

.right{float:right;}



/*         end of main content css       */
/*          content css                 */
#contact{background-color:#ACC2E3;
width:95%;
margin:0 auto;
height:300px;
padding:1%;
}

#contact h1{text-align:center;}

#contact ul{float:right;
list-style-type:none;}

form {clear:both;}

.comment, .info{width:45%;
}

label, input, textarea, button{display:block;}

input{
	width:100%;
}
fieldset {
	border:none;
}
/*                      end of contact             */


/*                      general css for the rest of pages            */


.body {background-color:#ACC2E3;
padding:1%;
height:auto;}

.body h1 {text-align:center;}

.body ul{text-align:justify;
width:50%;
margin:0 auto;
}

.body ul li{
	margin-bottom:1.5%;
}


/*          footer css                    */
footer {
	clear:both;
	width:100%;
}
footer ul {
	float: left;
	width: 100%;
	margin-left: -4%;
}
footer li {
	display: inline-block;
	font-size: 1.125em;
	text-align: left;
	margin-right: 1%;
}

footer a{text-decoration:none;
color:#000;}

footer a:active{color:#04871A;}

footer a:hover{font-style:italic;
font-weight:bold;
color:#04871A;}

footer a:visited{color:#184BCA;}
