/*Colors Used: dark blue 3565B0
				grey blue ACC2E3
				teal 56BCEB
				*/


/* 
CSS Mini Reset
http://www.vcarrer.com/2010/05/css-mini-reset.html
CSSresetr.com
*/
html, body, div, form, fieldset, legend, label {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th, td {
	text-align: left;
	vertical-align: top;
}
h1, h2, h3, h4, h5, h6, th, td, caption {
	font-weight: normal;
}
/*      Main CSS     */





body {
	max-width: 960px;
	height: auto;
	font: 100%/1.5 "Arial", "Helvetica", sans-serif;
	/*font-family: Arial, Helvetica, sans-serif;*/
	background-color: #56BCEB;
	margin: 0 auto;
	padding: 0;/*font-size: 0.75em;*/
}
#container {
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	font-size: 0.75em;
	height: auto;
}
header {
	width: 100%;
	padding: 1%;
}
#logoContainer {
	width: 17.7083%;
	margin-left: -1%;
}
#logo {
	float: left;
	/*height:100px;
	width:170;*/
	max-width: 100%;/*margin-bottom:1%;*/
}
header h1 {
	float: right;
	width: 60%;
	font-family: 'Courgette', cursive;
	font-size: 3em;
	text-align: right;
	margin-top: -10px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Courgette', cursive;
}
/*                      global nav css        */



nav {
	width: 70%;
	float: right;
	margin-right: -3%;
}
nav ul li {
	font-family: Georgia, "Times New Roman", Times, serif;
	display: inline-block;
	font-size: 1.65em;
	text-align: right;
	margin-left: 1%;
}
nav ul li a, nav ul li a.current:hover {
	text-decoration: none;
	color: #000;
}
nav ul li a:active {
	color: #04871A;
}
nav ul li a:hover, nav ul li a.current {
	font-style: italic;
	font-weight: bold;
	color: #FFF;
}
/*               end of global nav       */


/*                main content css        */
#maincontent {
	background-color: #ACC2E3;
	max-width: 100%;
	margin: 0 auto;
	height: auto;
	clear: both;/*	padding:1% 1%;*/
}
#choirContainer {
	width: 100%;
}
#choir {
	max-width: 100%;
}
#columns {
	clear: both;
	width: 100%;
	background-color: #ACC2E3;
	height: 280px;
}
.schedule, .mission {
	font-size: 1.125em;
	height: 250px;
	width: 45%;
	border: none;
	padding: 1%;
}
.schedule li {
	list-style-type: none;
}
p {
	text-align: justify;
}
.left {
	float: left;
}
.right {
	float: right;
}
/*         end of main content css       */
/*          content css                 */
#contact {
	background-color: #ACC2E3;
	width: 100%;
	margin: 0 auto;
	height: 350px;
	padding: 1% 1%;
}
#contact h1 {
	text-align: center;
}
#contact ul {
	float: left;
	list-style-type: none;
	font-size: 1.25em;
}
#contact ul li {
	display: block;
}
#contact p {
	clear: both;
	width: 100%;
	font-size: 1.25em;
}
form {
	clear: both;
}
.comment, .info {
	width: 50%;
}
label, input, textarea, button {
	margin-top: 1%;
	display: block;
}
/*label, textarea, input {
	width: 100%;
}*/
fieldset {
	border: none;
}
/*                      end of contact             */


/*                      general css for the rest of pages            */


.body {
	clear: both;
	background-color: #ACC2E3;
	padding: 1% 1%;
	height: auto;
	width: 100%;
}
.body h1 {
	font-size: 2.375em;
	text-align: center;
}
.body h3 {
	font-size: 1.5em;
}
.body p {
	font-size: 1.125em;
	margin: 1% 1%;
}
.body ol {
	font-size: 1.125em;
}
.body ul {
	font-size: 1.25em;
}
#parking {
	text-align: justify;
	width: 50%;
	margin: 0 auto;
}
#parking ul li {
	margin-bottom: 1.5%;
}
#parkingContainer {
	width: 32.675439%;
	margin: 0 auto;
}
#parkinglot {
	max-width: 100%;
	/*width:298px;*/
	display: block;
}
#youngAdults {
	width: 100%;
}
#youngAdults li {
	display: inline-block;
	margin-right: 5%;
}
#staff1 {
	width: 100%;
}
#staff1 li {
	display: inline-block;
	width: 31.90%;
}
#staff2 {
	width: 100%;
}
#staff2 li {
	display: inline-block;
	width: 15.95%;
	margin-right: 15.9%;
}
ul.staff3 {
	-moz-column-count: 3;
	width: 100%;
	margin: 0 auto;
}
ul.staff3 li {
	display: inline-block;
	width: 31.90%;
	margin-right: 20%;
}
ul.dates {
	width: 100%;
}
ul.dates li {
	list-style-type: none;
	display: block;
}
.links a {
	color: #fff;
}
.links a:active {
	color: #04871A;
}
.links a:hover {
	font-style: italic;
	font-weight: bold;
	color: #000;
}
#gallery {
	width: 100%;
	height: 350px;
	background-color: #ACC2E3;
	clear: both;
}
.gallery, .clergy {
	width: 50%;
}
.clergy ul li {
	display: block;
}
.gallery ul li {
	display: inline-block;
}
/*          footer css                    */
footer {
	clear: both;
	width: 100%;
}
footer ul {
	float: left;
	width: 100%;
	margin-left: -4.5%;
}
footer ul li {
	display: inline-block;
	font-size: 1.2em;
	text-align: left;
	margin-right: 1%;
	float: left;
}
footer ul li a, footer ul li a.current:hover {
	text-decoration: none;
	color: #000;
}
footer ul li a:active {
	color: #04871A;
}
footer ul li a:hover, footer ul li a.current {
	font-style: italic;
	font-weight: bold;
	color: #FFF;
}


/*Media Queries*/

/*Tablet Portrait size to standard 960 (devices and browsers) */
@media screen and (min-width:768px) and (max-width:959px) {
body {
	min-width: 768px;
	max-width: 959px;
	font: 100%/1.375 "Arial", "Helvetica", sans-serif;
}
#container {
	width: 98%;
	margin: 0 auto;
}
header {
	width: 98%;
}
#logoContainer {
	width: 22%;
	margin-left: -1%;
}
nav {
	width: 80%;
	float: right;
}
nav ul li {
	font-size: 1.5em;
}
#contact {
	width: 98%;
}
#contact p {
	font-size: 1.125em;
}
label, input, textarea, button {
	margin-top: 1%;
}
textarea {
	max-width: 85%;
}
.body {
	width: 98%;
}
#parkingContainer {
	width: 50%;
	margin: 0 auto;
}
ul.dates {
	width: 98%;
}
#gallery {
	width: 98%;
	height: 600px;
	clear: both;
}
.gallery, .clergy {
	width: 50%;
}
.clergy ul li {
	display: block;
}
.gallery ul li {
	display: inline-block;
}
.body p {
	margin-top: 2%;
}
taff1 {
	width: 98%;
}
#staff2 {
	width: 98%;
}
ul.staff3 {
	width: 98%;
	margin: 0 auto;
}
#youngAdults {
	width: 98%;
}
}
/*Mobile Landscape Size to Tablet Portrait (devices and browsers */
@media only screen and (min-width:480px) and (max-width:767px) {
body {
	min-width: 480px;
	max-width: 767px;
	font: 100%/1.25 "Arial", "Helvetica", sans-serif;
}
#container {
	width: 97%;
	margin: 0 auto;
}
header h1 {
	margin-top: 75px;
	font-size: 1.75em;
}
#logoContainer {
	width: 40%;
}
#logo {
	float: none;
}
nav {
	width: 100%;
	float: none;
}
nav ul li {
	font-size: 1.35em;
	margin-right: 2%;
	text-align: left;
}
.left, .right {
	float: none;
}
#columns {
	height: auto;
}
.schedule, .mission {
	font-size: 1.125em;
	height: auto;
	width: 95%;
	border: none;
	padding: 1%;
}
ul.dates {
	width: 97%;
}
#gallery {
	width: 97%;
	height: 600px;
	clear: both;
}
.gallery, .clergy {
	width: 100%;
}
.clergy ul li {
	display: block;
}
.gallery ul li {
	display: inline-block;
}
#staff1 {
	width: 97%;
}
#staff2 {
	width: 97%;
}
ul.staff3 {
	-moz-column-count: 2;
	width: 97%;
	margin: 0 auto;
}
.body p {
	margin-top: 2%;
}
#youngAdults {
	width: 97%;
}
#youngAdults li {
	display: block;
}
#parkingContainer {
	width: 50%;
	margin: 0 auto;
}
#contact {
	width: 97%;
	margin: 0 auto;
	height: auto;
	padding: 1% 1%;
}
#contact ul {
	float: none;
	font-size: 1.25em;
}
#contact ul li {
	display: block;
}
#contact p {
	clear: both;
	width: 97%;
	font-size: 1.125em;
}
form {
	clear: both;
}
.comment, .info {
	width: 97%;
}
label, input, textarea, button {
	margin-top: 2%;
	display: block;
}
label, textarea, input {
	width: 97%;
}
}
/*Mobile Portrait Size to Mobile Landsape Size (devices and browsers)*/
@media only screen and (max-width:479px) {
body {
	font: 100%/1.0 "Verdana, Geneva, sans-serif";
	max-width: 479px;
}
#container {
	width: 97%;
	margin: 0 auto;
}
header h1 {
	display: none;
}
#logoContainer {
	width: 97%;
	margin: 0 auto;
}
#logo {
	float: none;
}
nav {
	width: 97%;
	float: none;
}
nav ul li {
	display: block;
	font-size: 1.5em;
	text-align: left;
}
left, .right {
	float: none;
}
#columns {
	height: auto;
}
.schedule, .mission {
	font-size: 1.125em;
	height: auto;
	width: 97%;
	border: none;
	padding: 1%;
}
footer {
	display: none;
}
ul.dates {
	width: 97%;
}
#gallery {
	width: 97%;
	height: 210px;
}
.clergy {
	width: 100%;
}
.gallery {
	display: none;
}
.clergy ul li {
	display: block;
}
#staff1 {
	display: none;
}
#staff2 {
	width: 97%;
}
#staff2 li {
	display: block;
	width: 97%;
	margin-top: 2%;
}
ul.staff3 {
	-moz-column-count: 1;
	width: 97%;
	margin: 0 auto;
}
.body p {
	margin-top: 2%;
}
#youngAdults {
	width: 97%;
}
#youngAdults li {
	display: none;
}
#parking {
	text-align: justify;
	width: 75%;
	margin: 0 auto;
}
#parking ul li {
	margin-bottom: 1.5%;
}
#parkingContainer {
	display: none;
}
#contact {
	width: 98%;
	margin: 0 auto;
	height: 525px;
	padding: 1% 1%;
}
#contact ul {
	float: none;
	font-size: 1.25em;
}
#contact ul li {
	display: block;
}
#contact p {
	clear: both;
	width: 98%;
	font-size: 1.125em;
}
form {
	clear: both;
}
.comment, .info {
	width: 100%;
}
label, input, textarea, button {
	margin-top: 2%;
}
label, textarea, input {
	width: 98%;
}
}
